<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.RoleRepository">

  <sql id="selectRole">
    select t.id,
           t.code,
           t.name,
           t.remark,
           t.is_enable,
           t.is_system,
           t.is_delete,
           t.create_user_id,
           t.create_time,
           t.last_update_user_id,
           t.last_update_time,
           t.delete_user_id,
           t.delete_time
    from system_role t
  </sql>

  <insert id="insert" parameterType="cn.koala.system.entities.RoleEntity">
    insert into system_role(id, code, name, remark, create_user_id, create_time)
    values (#{id}, #{code}, #{name}, #{remark}, #{createUserId}, #{createTime})
  </insert>

  <update id="deleteById" parameterType="cn.koala.system.entities.RoleEntity">
    update system_role
    set is_delete      = ${@cn.koala.mybatis.YesNo@YES.value},
        delete_user_id = #{deleteUserId},
        delete_time    = #{deleteTime}
    where id = #{id}
  </update>

  <update id="update" parameterType="cn.koala.system.entities.RoleEntity">
    update system_role
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
      last_update_user_id = #{lastUpdateUserId},
      last_update_time = #{lastUpdateTime},
    </trim>
    where is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and id=#{id}
  </update>

  <select id="findById" resultType="cn.koala.system.entities.RoleEntity">
    <include refid="selectRole"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and t.id = #{id}
  </select>

  <select id="findAll" resultType="cn.koala.system.entities.RoleEntity">
    <include refid="selectRole"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value}
  </select>

  <select id="findAllPermissionIdById" resultType="java.lang.Long">
    select permission_id
    from system_role_permission
    where role_id = #{id}
  </select>

  <insert id="updatePermissionIdById">
    delete from system_role_permission where role_id = #{id};
    insert into system_role_permission values
    <foreach item="permissionId" index="index" collection="permissionIds" separator=",">
      (#{id}, #{permissionId})
    </foreach>
  </insert>
</mapper>
